[submodule "TorchBlocks"]
	path = TorchBlocks
	url = git@github.com:lonePatient/TorchBlocks.git
[submodule "code/TorchBlocks"]
	path = code/TorchBlocks
	url = git@github.com:isLouisHsu/TorchBlocks.git
[submodule "apex"]
	path = apex
	url = https://github.com/NVIDIA/apex
